{{! mapbox api로 맵 구현 // @2x는 'retina' 이미지. 사이즈 2배로 적용.}}
<div class="map">
  <img
    alt="Map image at coordinates {{@lat}},{{@lng}}"
    ...attributes
    arc={{this.src}}
    width={{@width}} height={{@height}}
  >
</div>
